<svg style="display: none">
    <symbol id="shuffle" viewbox="0 0 512 512">
        <polyline points='400 304 448 352 400 400' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/>
        <polyline points='400 112 448 160 400 208' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/>
        <path d='M64,352h85.19a80,80,0,0,0,66.56-35.62L256,256' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/>
        <path d='M64,160h85.19a80,80,0,0,1,66.56,35.62l80.5,120.76A80,80,0,0,0,362.81,352H416' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/>
        <path d='M416,160H362.81a80,80,0,0,0-66.56,35.62L288,208' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/>
    </symbol>
    <symbol id="infinite" viewbox="0 0 512 512">
        <path d='M256,256s-48-96-126-96c-54.12,0-98,43-98,96s43.88,96,98,96c37.51,0,71-22.41,94-48' style='fill:none;;stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px'/>
        <path d='M256,256s48,96,126,96c54.12,0,98-43,98-96s-43.88-96-98-96c-37.51,0-71,22.41-94,48' style='fill:none;;stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px'/>
    </symbol>
    <symbol id="cart" viewbox="0 0 512 512">
        <circle cx='176' cy='416' r='16' style='fill:none;;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/>
        <circle cx='400' cy='416' r='16' style='fill:none;;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/>
        <polyline points='48 80 112 80 160 352 416 352' style='fill:none;;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/>
        <path d='M160,288H409.44a8,8,0,0,0,7.85-6.43l28.8-144a8,8,0,0,0-7.85-9.57H128' style='fill:none;;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/>
    </symbol>
    <symbol id="options" viewbox="0 0 512 512">
        <line x1='368' y1='128' x2='448' y2='128' style='fill:none;;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/>
        <line x1='64' y1='128' x2='304' y2='128' style='fill:none;;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/>
        <line x1='368' y1='384' x2='448' y2='384' style='fill:none;;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/>
        <line x1='64' y1='384' x2='304' y2='384' style='fill:none;;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/>
        <line x1='208' y1='256' x2='448' y2='256' style='fill:none;;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/>
        <line x1='64' y1='256' x2='144' y2='256' style='fill:none;;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/>
        <circle cx='336' cy='128' r='32' style='fill:none;;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/>
        <circle cx='176' cy='256' r='32' style='fill:none;;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/>
        <circle cx='336' cy='384' r='32' style='fill:none;;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/>
    </symbol>
</svg>